<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>API</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<div id="app">
            <!-- <ul>
                <li :class="emails.length === 10 ? 'active' : 'none' " v-for="(email, index) in emails ">{{email}}</li>
            </ul> -->
			<ul>
                <li v-show="emails.length === 10" v-for="(email, index) in emails ">{{email}}</li>
            </ul>
			
		</div>

		<script src="./js/app.js"></script>
	</body>
</html>